/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
body { padding: 5px 0; }
.buffer {
    margin-bottom: 46px;
}
.half-buffer {
    margin-bottom: 22px;
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    padding: floor((@font-size-base * @line-height-base)) 0; // ~20px
}
.navbar-default {
    background-color: #fff;
    border-color: @gray-light;
}
.navbar {
    border: none;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
    border-top: 1px solid @gray-light;
    border-bottom: 1px solid @gray-light;
    background: #fff;
}
.nav a,
.btn {
    text-transform: uppercase;
}
.nav a:hover {
    color: @gray-dark;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

h2, h3 {
    text-transform: uppercase;
}
.promo {
    border-bottom: 1px solid @gray-light;
    border-top: 1px solid @gray-light;
    padding: 15px 0;
    p {
        margin-bottom: 5px;
    }
}
.heading-promo {
    font-size: floor((@font-size-base * 2.3));;
    color: @gray-head;
    letter-spacing: 7px;
    margin-top: 35px;
    margin-bottom: 24px;
}
.home-page {
    h3 {
        margin-top: 30px;
        margin-bottom: 21px;
    }
    p { 
        line-height: 1.8;
        margin-bottom: 37px;
    }
}
h3 {
    letter-spacing: 2px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: @gray-lighter;
    background-color: @gray-dark;
    border-color: @gray-dark;
}
input[type="submit"]:hover, input[type="submit"]:focus {
    color: @gray-lighter !important;
    background-color: @gray-dark !important;
    border-color: @gray-dark !important;
}
// contact form
*:focus {
    outline: 0;
}
.wpcf7-form-control {
    display: block;
    width: 100%;
    height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @input-color;
    background-color: @input-bg;
    .placeholder();
}
input[type="submit"] {
    .btn;
    .btn-default;
}
textarea.wpcf7-form-control {
    height: 34px;
    border: 1px solid @input-border;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
.article {
    h1 {
        font-size: ceil((@font-size-base * 1.8));
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 5px;
    }
    h2 {
        font-size: ceil((@font-size-base * 1.4));
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 5px;
    }  
    h3 {
        font-size: ceil((@font-size-base * 1.15));
        text-transform: none;
        letter-spacing: normal;
        font-weight: bold;
        margin-bottom: 5px;
    }  
    h4 {
        font-size: ceil((@font-size-base * 1.05));
        text-transform: none;
        font-weight: bold;
        margin-bottom: 5px;
    }  
    a:visited {
        color: @gray-light;
    }
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
    img {   opacity:0.4; -moz-opacity:0.4; filter:alpha(opacity=40);   }  
    img:hover {   opacity:0.7; -moz-opacity:0.7; filter:alpha(opacity=70);   }
}

.footer-panel {
    background-color: @gray-lighter;
    padding: 15px 0 15px 0;

}
.phone {
    font-size: 40px;
    color: @gray-head;
    margin-bottom: -5px;
}
.email {
    font-size: @font-size-h3;
    margin-bottom: -2px;
}
.copy {
    margin-bottom: -5px;
}
.designed {
    font-size: smaller;
}
.contact-info {
    h3 {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 23px;
        line-height: 1.9;
    }
    .wpcf7 {
        padding-top: 10px;
        border-top: 1px dotted @gray-light;
        .wpcf7-text {
            border-bottom: 1px solid @gray-light;
            border-top: 0;
            border-left: 0;
            border-right: 0;
        }
    }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-sm-max) {
    .home-page {
        margin-bottom: 40px;
    }
    .wpcf7-form-control {
        margin-bottom: 5px;
    }

}

@media (min-width: @screen-md-min) {
    .wpcf7-form-control {
        margin-bottom: 5px;
    }
    // triangle on menu
    .nav a:hover:after, .active:after {
        content: "";
        display: block;
        border: 5px solid #fff;
        border-bottom-color: @gray-dark;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-bottom: -6px;
    }
    .active {
        color: @gray-dark;
    }

    // button on bottom

    .full-height-img .home-page  {
        height: 490px;
        margin-bottom: 20px;
        p {
            height: 100px;
        }
    }
    .full-height .home-page {
        height: 330px;
        margin-bottom: 40px;
        p {
            height: 200px;
        }
    }
    .home-page .btn {
        vertical-align: bottom;
        text-align:center;
    }
    .home-page p {
        vertical-align: top;
        margin-bottom: 45px;
    }

    input[type="submit"] {
        height: 60px;
    }
    textarea.wpcf7-form-control {
        height: 60px !important;
    }
}

@media (min-width: @screen-lg-min) {
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .col-centered div {
        padding: 0 25px 0 25px;
    }
    .col-centered div:first-child {
        padding-left: 0px;
    }
    .col-centered div:last-child {
        padding-right: 0px;
    }
}